@font-face {
    font-family: 'Harmonia_black';
    src: url('../fonts/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_regular';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_semibold';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_bold';
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_italic';
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot');
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Italic.svg#HarmoniaSansProCyr-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
/*RESET START*/
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
    color: #34404b;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color:#ff5912;
    text-decoration: none;
}
img{
    max-width: 100%;
}
textarea{
    resize: vertical;
}
label{
    margin: 0;
}
input,button,select{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
}
/*STYLE RESET EDN*/

/*DEFAULT-CLASSES START*/
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
.red-bg{
    background-color: #e12e3f;
}
.dark-blue-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.color-orng{
    color:#ff5912;
}
.color-gray{
    color: #f4f6f8;
}
.flex-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.justify-sb{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.align-center{
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.white-bg{
    background-color: #fff;
}

.icon {
    display: inline-block;
}

.btn{
    padding: 17px 28px;
    font-family: 'Harmonia_semibold';
    font-size: 14px;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border: 0;
}
.btn-default{
    color: #ffffff;
    background-color: #ff5912;
}
.subscribe-description span{
    text-transform: uppercase;
    font-size: 18px;
    color: #ff5912;
    font-family: 'Harmonia_bold';
}
.subscribe-description span+span{
    font-family: 'Harmonia_italic';
    text-transform: none;
    font-size: 14px;
    color: inherit;
    margin-left: 25px;
}

.subscribe-form form{
    min-width: 414px;
}
.subscribe-form .input-description{
    min-width: 158px;
}
/*DEFAULT-CLASSES END*/

/*DEFAULT COMPONENT STAR*/
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.big{
    font-size: 52px;
}
.default-section{
    padding: 60px 0;
}
.header .bottom-header .logo{
    margin-right: 20px;
}

.header .bottom-header{
    padding: 40px 0;
}

.header .bottom-header .user-controls{
    margin-left: auto;
}

.bottom-header .header-nav a{
    padding: 0 20px;
    font: 16px "HarmoniaSansProCyr", sans-serif;
}
.user-controls a{
    position: relative;
    display: inline-block;
}
.user-controls a i:hover{
    background-position: -81px 0px;
}
.user-controls a+a i:hover{
    background-position: 0px -59px;
}
.user-controls a+a+a i:hover{
    background-position: -20px -59px;
}
.new-arrivals .more-info-on-hover .item-controls li a span:hover{
    background-position: -44px -59px;
}
.new-arrivals .more-info-on-hover .item-controls li+li a span:hover{
    background-position: -22px -38px;
}
.new-arrivals .more-info-on-hover .item-controls li+li+li a span:hover{
    background-position: -38px -80px;
}
.bottom-header .user-controls span{
    padding-top: 2px;
    text-align: center;
    min-width: 18px;
    height: 18px;
    position: absolute;
    top: -100%;
    left:50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-family:'Harmonia_regular';
    color: #ffffff;
    display: inline-block;
    background-color: #34404b;
    border: 1px solid #34404b;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.bottom-header .user-controls a+a{
    margin-left: 30px;
}
.header .top-header {
    padding: 25px 0;
}
.top-header .contacts {
    font-family:'Harmonia_regular';
}
.top-header .contacts li{
    display: inline-block;
}
.top-header .contacts li+li{
    margin-left: 20px;
}
.top-header .contacts li span{
    margin-left: 10px;
}
.top-header .flex-container{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.top-header .social-networks a+a{
   margin-left:20px;
}
.product-item{
    padding: 30px 10px;
    font-family: 'Harmonia_bold';
    font-size: 18px;
    position: relative;
    height: 372px;
}
.product-item:hover{
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.product-item .item-img img{
    max-height: 100%;
}
.product-item .item-description{
    padding: 0 37px;
    margin-top: 30px;
}
.product-item .item-title{
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.product-item .item-title a:hover{
    color: #34404b;
}

.product-item .colors{
    border-bottom: 1px solid #f2f4f7;
    padding-bottom: 30px;
    margin-top: 10px
}
.product-item li{
    display: inline-block;
}
.product-item .colors li {
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.product-item .item-img{
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    height: 216px;
}
.product-item .item-img img{
    max-height: 100%;
}
.best-sales .row{
    margin-top: 80px;
}
.subscribe-form{
    padding: 35px 45px;
}
.aside-section{
    padding: 40px;
}
.aside-section+ .aside-section{
    margin-top: 30px;
}
.aside-section form{
    margin-top: 23px;
}
input[type="checkbox"]{
    display: none;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]+ label{
    font-size: 14px;
    color: #34404b;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    line-height: 3.125em;
    font-family: Harmonia_semibold;
}
input[type="radio"]:checked+label {
    color: #ff5912;
}
input[type="checkbox"]+ label{
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    line-height: 3.125em;
    font-family: Harmonia_semibold;
}
input[type="checkbox"]+label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
input[type="checkbox"]:checked+label {
    color: #ff5912;
}
input[type="checkbox"]:checked+label::before {
    border-color: #ff5912;
}
.aside-section .aside-title span{
    font-size: 18px;
    color: #ff5912;
    font-family: Harmonia_black;
}
.ui-widget.ui-widget-content{
    border: none;
    background-color: #edf0f2;
    -webkit-border-radius: 0;
            border-radius: 0;
    height: 3px;
}
.range{
    margin-top: 70px;
}
.add-range-value{
    margin-top: 30px;
}
.range-input-reoup input{
    background-color: #edf0f2;
    width: 45px;
    height: 25px;
    margin-left: 15px;
}
.add-range-value .range-input-reoup+.range-input-reoup{
    margin-left: 18px;
}
.ui-slider .ui-slider-range{
    background-color: #34404b;
}
.aside-section .range .min-value,
.aside-section .range .max-value{
    position: absolute;
    bottom: 200%;
    color: #34404b;
    font-size: 14px;
    font-family: Harmonia_semibold;
}
.ui-widget-content .ui-state-default.ui-slider-handle{
    width: 11px;
    height: 11px;
    background-color: #34404b;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    outline: none;
}
.category-wrap .product-item{
    margin-bottom: 30px;
}
.category-wrap .load-more{
    margin-bottom: 60px;
}
/*DEFAULT COMPONENT END*/

.sale-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
#sale-carousel{
    padding-left: 8%;
}
.sale-carousel .item .item-purchase .item-order-now,.item-price{
    display:inline-block ;
}
.sale-carousel .item .item-purchase{
    margin-top: 60px;
}
.sale-carousel .carousel-indicators{
    width:auto;
    bottom: auto;
    left: 0;
    top:50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0;
}
.sale-carousel .carousel-indicators li{
    background-color: #ffffff;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    display: block;
    margin:0;
    border:none;
    width: 10px;
    height: 16px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.sale-carousel .carousel-indicators li+li{
    margin-top: 10px;
}
.sale-carousel .item-carousel-description p{
    font-family:'HarmoniaSansProCyr-SemiBd';
    font-size: 18px;
    line-height: 1.66em;
}
.sale-carousel .item-carousel-description p+p{
    font-family:'HarmoniaSansProCyr-Regular';
    font-size: 16px;
    line-height: 1.88em;
    margin-top: 14px;
    color: rgba(73,86,98, .8);
}
.sale-carousel .item-purchase {
    font-family:'HarmoniaSansProCyr-SemiBd';
    font-size: 18px;
}
.sale-carousel .item-purchase .item-order-now{
    margin-left: 30px;
}
.sale-carousel .carousel-indicators li.active{
    background-color: #ff5912;
    height: 36px;
}
.product-item:hover .item-title {
    color: #ff5912;
}
.product-item:hover .item-img{
    height: 90px;
}
.product-item:hover .more-info-on-hover{
    opacity: 1;
    z-index: 99;
}
.product-item:hover a{
    color: #34404b;
}
.product-item:hover .item-price{
    display: none;
}
.product-item .more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 0 50px;
    z-index: -1;
}
.kit{
    padding: 20px 60px;
    border: 1px solid #eaedef;
}
.sales-block{
    position: relative;
}
.sales-block .light-orange-bg,
.sales-block .orange-bg{
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block .light-orange-bg{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.sales-block .orange-bg{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    left:0;
    top:0;
}
.load-more>a{
    height: 100%;
    padding: 25px 0;
    display: block;
}
.circle{
    display: inline-block;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #ff5912;
    width: 8px;
    height: 8px;
}
.new-arrivals .items-wrap{
    margin-bottom: 80px;
    margin-top: 80px;
}
.two-blocks .title-content{
    padding-right: 36px;
    border-right: 1px solid #eaedef;
}
.default-content .title-content span{
 display: block;
}
.default-content .title-content span{

}
.default-content .title-content .title{
    font-size: 22px;
    margin-bottom: 15px;
}
.title-content .sub-title{
    font-family: 'Harmonia_regular';
    font-size: 16px;
    line-height: 1.88em;
    color: rgba(73,86,98, .9);
}
.two-blocks .title-content .sub-title {
    font-size: 12px;
    line-height: 2.5em;
}
.two-blocks .default-content .title-content,.price-content{
    display: inline-block;
}
.two-blocks .default-content .price-content{
    font-size: 32px;
    font-family: 'Harmonia_black';
    line-height: 67px;
    padding-left: 36px;
}
.two-blocks .adv {
    padding: 31px 0;
    border: 1px solid #eaedef;
}
.two-blocks .adv span{
    display: inline-block;
    font-family: 'Harmonia_regular';
    font-size: 16px;
}
.two-blocks .adv span+span{
    color: #ff5912;
}
.two-blocks .adv span+span+span{
    font-size: 12px;
    letter-spacing: 1.6vh;
    margin-top: 17px;
    color: rgba(52,64,75, .4);
    display: block;
}
.best-sales .best-items{
    overflow: hidden;
    padding: 35px 25px;
}
.best-item-description{
    display: inline-block;
    font-family: 'Harmonia_bold';
    padding-left: 26px;
}
.best-item-description .best-item-title {
    font-size: 18px;
    margin-bottom: 35px;
}
.best-item-price{
    font-size: 16px;
}
.best-item-description ul li,.best-item-price{
    display: inline-block;
}
.best-item-img{
    padding-right: 26px;
    border-right: 1px solid #eaedef;
}
.best-items .best-item-description{
    position: relative;
}
.info-on-hover{
    opacity: 0;
    position: absolute;
    right: 20%;
    top: 60%;
}
.info-on-hover .hover-add{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
}
.best-items:hover .info-on-hover{
    opacity: 1;
}
.best-items:hover ul{
    opacity: 0;
}
.best-items:hover .best-item-price{
    opacity: 0;
}
.best-item-title a:hover{
    color: #34404b ;
}
.category-wrap{
    padding-top: 120px;
}

.subscribe-form .subscrible-input{
    min-width: 260px;
    margin-left: 10px;
}
.subscribe-form .btn{
    margin-left: 28px;
}
.footer-logo{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.footer-logo span{
    font-size: 14px;
    line-height: 2.14em;
    color:#28313b;
    margin-top: 7px;
}
footer{
    padding: 84px 0;
    margin-top: 60px;
}
.footer-nav ul{
    list-style: unset;
}
.footer-nav ul li{
    font-size: 14px;
    line-height: 2.14em;
}
.footer-nav ul+ul{
    margin-left: 100px;  /* короче по макету там отступ 70 и 130, я решил сделать по 100, ибо вместе это 200*/
}
.payment-methods ul{
    margin-top: 20px;
}
.payment-methods-icon li+li{
    margin-left: 10px;
}
.payment-methods span{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
    line-height: 1.87em;
}
/*product slider start*/
.product-slider{
    width: 330px;
}
.size-radio label{
    font-size: 14px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-transform: uppercase;
    cursor: pointer;
}
.size-radio input[type="radio"]{
    display: none;
}
.size-radio input[type="radio"]:checked + label{
    color: #ff5912;
    font-size: 18px;
}
.radio-list-btn .size-radio{
    margin-left: 10px;
}
.size-radio+.size-radio:before{
    content: "-";
    margin-right: 10px;
    font-size: 16px;
}
.choose-size span{
    font-family: Harmonia_semibold;
    font-size: 18px;
    margin-right: 10px;
}
.item-coutn span{
    font-family: Harmonia_semibold;
    font-size: 18px;
    margin-right: 10px;
}
/*product slider end*/
.product-description .sub-title-description p{
    font-family: 'HarmoniaSansProCyr-SemiBd';
    font-size: 18px;
    line-height: 1.66em;
    margin-bottom: 14px;
}
.product-description .sub-title-description p+p{
    font-family: 'HarmoniaSansProCyr-Regular';
    font-size: 16px;
    line-height: 1.88em;
    color: rgba(73,86,98, .8);
    margin-bottom: 0;
}
.order-info{
    padding: 72px 0;
}
.order-price{
    font-family: Harmonia_black;
    font-size: 20px;
}
.order-info .order-now .item-controls li{
    display: inline-block;
    padding-right: 25px;
}
.order-info .order-now .item-controls li a span:hover{
    background-position: -44px -59px;
}
.order-info .order-now .item-controls li+li a span:hover{
    background-position: -22px -38px;
}
.order-info .order-now .item-controls li+li+li a span:hover{
    background-position: -38px -80px;
}
.order-info .order-now .item-controls {
    margin-left: auto;
}
.order-now{
    padding-top: 60px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.order-now .btn {
    -webkit-border-radius: 27px;
            border-radius: 27px;
    padding: 13px 23px;
    font-size: 18px;
}
.new-arrivals-product .items-wrap{
    margin-top: 80px;
}